.c-bg{
    margin-top: 4rem;
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: rgb(255, 58, 91);
    margin: 15px 0;
}
.c-btn{
    color: white;
    background-image: linear-gradient(to bottom, #ff5571 0, #ff002b 100%);
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
}