/* <!-- Carousel/Slider --> */
.c-bg {
    margin-top: 4rem;
    background-color: #fceae8;
    border-radius: 10px;
}

.carousel-item {
    padding: 20px 40px;
}

.c-img img {
    content: "";
    /* width: 100%; */

}

.watch {
    height: 383px;
    width: 250px;
}

.price {
    color: rgb(255, 58, 91);
    margin: 15px 0;
}

.c-btn {
    color: white;
    background-image: linear-gradient(to bottom, #ff5571 0, #ff002b 100%);
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
}

/* <!-- catagories --> */
.catagories {
    margin-top: 3rem;
}

.catagories img {

    height: 120px;
}

.cat-1,
.cat-2,
.cat-3 {
    padding: 10px 25px;
    margin: 1rem 0;
    display: flex;
    border-radius: 10px;
    justify-content: space-evenly;
}

.cat-1 {
    background-image: linear-gradient(to right, rgb(255, 220, 66) 0, rgb(224, 146, 0) 100%)
}

.cat-2 {
    background-image: linear-gradient(to right, rgb(73, 197, 255) 0, rgb(0, 84, 241) 100%)
}

.cat-3 {
    background-image: linear-gradient(to right, rgb(255, 116, 92) 0, rgb(241, 0, 20) 100%)
}

/* Shoes */
.col .card {
    border: none;
    border-radius: 10px;
}

/* Backpack */
.card-footer {
    background-color: white;
    border-top: none;
}

#backpack .card {
    border-radius: 10px;
}

@media screen and (max-width: 992px) {
    .watch {
        height: 275px;
        width: 170px;
    }
}

@media screen and (max-width: 767px) {
    .watch {
        height: 380px;
        width: 230px;
        margin-left: 25%;
        margin-top: 20px;
    }
}

@media screen and (max-width:576px) {
    .carousel {
        margin-top: 0px;
    }

    .c-bg {
        margin-top: 20px;
    }

    .c-img img {
        height: 250px;
        text-align: center;
        align-items: center;
    }

    .watch {
        width: 170px;
        margin-left: 20%;
        margin-top: 20px;
    }
}
